<div class="home-content">
  <p><%= link_to  "自己紹介", profile_path, class: 'btn btn-primary btn-home' %></p>
  <p><%= link_to  "体験記", experiences_path, class: 'btn btn-primary btn-home' %></p>
  <p><%= link_to  "掲示板", posts_path, class: 'btn btn-primary btn-home' %></p>
  <p><%= link_to  "用語集", terms_path, class: 'btn btn-primary btn-home' %></p>
</div>
