<h1 class="profile">自己紹介</h1>
<div class="profile-header">
  <%= image_tag "facephoto.jpg", :size => '240x300' %>
  <ul>
    <li>出身地　：岐阜県大垣市</li>
    <li>生年月日：1994年8月12日</li>
    <li>職業　　：会社員SE</li>
  </ul>
</div>
<div class="profile-detail">
  <p>2019年の10月からスクールに通い、テニスを始めました。</p>
  <p>完全に未経験からのスタートだったので、最初は球を打ち返すのにも四苦八苦しました。</p>
  <p>そんな私でしたが、コーチの指導を一つひとつ素直に実践することにより、最近では安定して打てるようになりました。</p>
  <p>本サイトでは、そんな私の辿ってきた過程を紹介してまいります。</p>
</div>