<div class="term_wrapper">
  <% breadcrumb :terms %>
  <%= render "shared/breadcrumbs" %>
  <div class="term_wrapper__header">
    <h3>用語集</h3>
  </div>
  <div class="term_wrapper__content">
    <div class="term_wrapper__content__term_list">
      <ul>
        <% @terms.each do |term| %>
          <li><%= link_to  term.term, term, class: 'btn btn-primary btn-terms' %></li>
        <% end %>
      </ul>
    </div>
    <div class="text-center">
      <%= paginate @terms %>
    </div>
  </div>
</div>