<% breadcrumb :term_show, @term %>
<%= render "shared/breadcrumbs" %>
<h3><%= @term.term %></h3>
</div>
<div class="term-image">
  <%= image_tag @term.image, :size => '800x450' if @term.image.attached? %>
</div>
<div class="term-detail">
  <%= "#{@term.explanation}" %>
</div>