<div class="term_wrapper">
  <% breadcrumb :term_show, @term %>
  <%= render "shared/breadcrumbs" %>
  <div class="term_wrapper__header">
    <h3><%= @term.term %></h3>
  </div>
  <div class="term_wrapper__content">
    <div class="term_wrapper__content__term_show">
      <div class="term_image">
        <%= image_tag @term.display_image if @term.image.attached? %>
      </div>
      <div class="term_detail">
        <%= "#{@term.explanation}" %>
      </div>
    </div>
  </div>
</div>