<% breadcrumb :users %>
<%= render "shared/breadcrumbs" %>
<h3>ユーザ一覧</h3>
<div class="user-index">
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to  user.name, user, class: 'btn btn-primary btn-experiences' %>
      </li>
    <% end %>
  </ul>
</div>