<div class="user_wrapper">
  <% breadcrumb :user_show, @user %>
  <%= render "shared/breadcrumbs" %>
  <div class="user_wrapper__header">
    <h3>プロフィール</h3>
  </div>
    <div class="user_wrapper__content">
      <div class="user_wrapper__content__user_show">
        <ul>
          <% if @user.image.attached? %>
            <li>
              <%= image_tag @user.image, :size => '160x200' %>
            </li>
          <% end %>
          <li>
            <%= "名前：#{@user.name}" %>
          </li>
        </ul>
        <div class="user_detail">
          <%= @user.introduction %>
        </div>
      </div>
    </div>
  </div>
</div>