<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= "以下のエラーが発生しております。" %>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>