<footer class="navbar navbar-fixed-bottom">
  <nav>
    <ul>
      <% unless controller.controller_name == 'static_pages' && controller.action_name == 'home' %>
        <li><%= link_to "1つ前に戻る", :back, class: 'btn btn-primary' %></li>
        <li><%= link_to "トップに戻る", root_url, class: 'btn btn-primary btn-indent-left' %></li>
      <% end %>
    </ul>
  </nav>
</footer>