<h3>体験記</h3>
<div class="experience-index">
  <ul>
    <% @experiences.each do |experience| %>
      <li><%= link_to experience.date.to_s, 
              experience, class: 'btn btn-primary btn-experiences' %>
      </li>
    <% end %>
  </ul>
</div>