<h1 class="title">体験記</h1>
<% if logged_in? && admin_user? %>
  <%= link_to "登録", new_experience_path, class: "btn btn-lg btn-primary
    btn-indent-top-second btn-size btn-fixed-insert" %>
<% end %>
<div class="experience-index">
  <ul>
    <% @experiences.each do |experience| %>
      <li><%= link_to experience.date.to_s, 
              experience, class: 'btn btn-primary btn-experiences' %>
      </li>
    <% end %>
  </ul>
</div>