<div class="experience_wrapper">
  <% breadcrumb :experience_show, @experience %>
  <%= render "shared/breadcrumbs" %>
  <div class="experience_wrapper__header">
    <h3><%= @experience.date.to_s %></h3>
  </div>
  <div class="experience_wrapper__content">
    <div class="experience_wrapper__content__experience_show">
      <div class="experience_image">
        <%= image_tag @experience.display_image if @experience.image.attached? %>
      </div>
      <div class="experience_detail">
        <%= "#{@experience.explanation}" %>
      </div>
    </div>
  </div>
</div>