@import "config/variables";

html, body {
  background-image: image-url('6910.png');
  min-height: 100%;
  background-size: 90%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 80px;
}

body {
  overflow-x: hidden;
}

.notifications {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  color: white;
  text-align: center;  

  .notice {
    background-color: $color_notice;
    opacity: 0.9;
  }

  .alert {
    padding: 0;
    background-color: $color_alert;
    opacity: 0.7;
  }
}

.wrapper {
  height: 100%;
  min-height: calc(100vh - 176px);
  min-width: $fix_width;
  margin-top: 112px;
}

.vali_alert {
  margin-bottom: 24px;
  padding:12px;
  border:2px solid #990000;
  text-align: center;
  font-weight: 850;
  background:#FFEBE8;
}

.breadcrumbs {
  display: flex;
  position: fixed;
  top: 64px;
  height: 24px;
  margin: 12px 0;
  z-index: 2;
  .fa-home {
    margin-right: 4px;
  }
}

.header-indent {
  margin-top: 10px;
  margin-right: 40px; 
}

.btn-indent-left {
  margin-left: 30px;
}

.btn-indent-right {
  margin-right: 30px;
}

.btn-indent-right-second {
  margin-right: 100px;
}

.btn-indent-right-third {
  margin-right: 45px;
}

.btn-indent-top {
  margin-top: 150px;
}

.btn-indent-top-second {
  margin-top: 100px;
}

.btn-indent-bottom {
  margin-bottom: 12px;
}

.btn-size {
  width: 120px;
  height: 50px;
}

.btn-fixed-insert {
  position: fixed;
  top: -10px; 
  right: 20px;
}

.btn-fixed-update {
  position: fixed;
  top: 90px; 
  right: -25px;
}

.btn-experiences {
  width: 250px;
  height: 60px;
  font-size: 30px;
}

.btn-terms {
  width: 250px;
  height: 60px;
  font-size: 20px;
  line-height: 45px;
}

.btn-users {
  width: 250px;
  height: 60px;
  font-size: 20px;
  line-height: 45px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  text-align: center;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.change-dropdown-menu {
  background-color: #DDFFDD;
}

.form_indent {
  margin: 25px;
}
