<div class="post_wrapper">
  <div class="post_wrapper__content">
    <div class="post_wrapper__content__post_form">
      <h3>
        <span>新規投稿</span>
      </h3>
      <%= form_for(@post) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form_area">
          <div class="form_area__field">
            <div class="field_with_errors">
              <%= f.text_area :content, rows: "10", autofocus: true, autocomplete: "content", placeholder: '投稿内容を入力' %>
            </div>
          </div>
        </div>
        <div class="form_area__action">
          <%= f.submit "投稿", class: "form_area__action__btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>