@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/body";
@import "shared/header";
@import "posts";
@import "comments";
@import "reset";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

h3 {
  text-align: center;
  font-size: $font_size_h3;
}

.container {
  margin-top: 10px;
}

.header-indent {
  margin-top: 10px;
  margin-right: 40px; 
}

.btn-indent-left {
  margin-left: 30px;
}

.btn-indent-right {
  margin-right: 30px;
}

.btn-indent-right-second {
  margin-right: 100px;
}

.btn-indent-right-third {
  margin-right: 45px;
}

.btn-indent-top {
  margin-top: 150px;
}

.btn-indent-top-second {
  margin-top: 100px;
}

.btn-indent-bottom {
  margin-bottom: 12px;
}

.btn-size {
  width: 120px;
  height: 50px;
}

.btn-fixed-insert {
  position: fixed;
  top: -10px; 
  right: 20px;
}

.btn-fixed-update {
  position: fixed;
  top: 90px; 
  right: -25px;
}

.title {
  text-align: center;
}

.home-content {
  text-align: center;

  .btn-home {
    width: 250px;
    height: 60px;
    font-size: 30px;
  }

  p {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.profile {
  color: 333333;
  text-align: center;
}

.profile-header {
  color: 333333;
  display: flex;
  justify-content: center;

  ul {
    height: 300px;
    list-style: none;
    font-size: 30px;
    padding-top: 10px;

    li {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.profile-detail {
  width: 100%;
  margin-top: 30px;
  padding: 0 150px;
  color: #333333;
  font-size: 24px;
}

.user-title {
  color: 333333;
  text-align: center;
}

.user-index {
  color: 333333;
  display: flex;
  justify-content: center;

  ul {
    height: 300px;
    list-style: none;
    font-size: 30px;
    padding-top: 10px;

    li {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.user-profile-header {
  color: 333333;
  text-align: center;
}

.experience-title {
  color: 333333;
  text-align: center;
}

.btn-experiences {
  width: 250px;
  height: 60px;
  font-size: 30px;
}

.experience-period {
  color: 333333;
  text-align: center;
}

.experience-index {
  color: 333333;
  display: flex;
  justify-content: center;

  ul {
    height: 300px;
    list-style: none;
    font-size: 30px;
    padding-top: 10px;

    li {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.experience-image {
  color: 333333;
  display: flex;
  justify-content: center;
}

.experience-detail {
  width: 100%;
  margin-top: 30px;
  padding: 0 100px;
  color: #333333;
  font-size: 24px;
}

.term-index {
  color: 333333;
  display: flex;
  justify-content: center;

  ul {
    height: 300px;
    list-style: none;
    font-size: 30px;
    padding-top: 10px;

    li {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.term-image {
  color: 333333;
  display: flex;
  justify-content: center;
}

.term-detail {
  width: 100%;
  margin-top: 30px;
  padding: 0 100px;
  color: #333333;
  font-size: 24px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.change-dropdown-menu {
  background-color: #DDFFDD;
}

.row {
  width: 100%;
}

.indent-block {
  height: 50px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: left;
}