@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body { 
  background-image: image-url('6910.jpg'); 
  background-size: cover;
}

.container {
  margin-top: 10px;
}

.btn-home {
  width: 250px;
  height: 60px;
  font-size: 30px;
}

.btn-indent {
  margin-right: 30px;
}

.home-content {
  text-align: center;

  h1 {
    color: #333333;
  }

  .btn-home {
    width: 250px;
    height: 60px;
    font-size: 30px;
  }

  p {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.profile {
  color: 333333;
  text-align: center;
}

.profile-header {
  color: 333333;
  display: flex;
  justify-content: center;

  ul {
    height: 300px;
    list-style: none;
    font-size: 30px;
    padding-top: 10px;

    li {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.profile-detail {
  width: 100%;
  margin-top: 30px;
  padding: 0 100px;
  color: #333333;
  font-size: 24px;
}

.signup-title {
  text-align: center;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}