@import "config/variables";

.experience_wrapper {
  width: $fix_width;
  height: 100%;
  margin: 0 auto;
  & h3 {
    text-align: center;
    font-size: $font_size_h3;
  }
  &__header {
    padding: 0 160px;
    .back_link {
      color: #337ab7;
      margin: 16px 48px 12px;
    }
  }
  &__content {
    margin: 0 160px;

    // 体験記一覧
    &__experience_list {
      color: 333333;
      display: flex;
      justify-content: center;
    
      ul {
        height: 300px;
        list-style: none;
        font-size: 30px;
        padding-top: 10px;
    
        li {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }
    // 体験記詳細
    &__experience_show {
      margin-top: 30px;
      .experience_image {
        text-align: center;
      }
      .experience_detail {
        width: 100%;
        margin-top: 30px;
        word-wrap: break-word;
        color: #333333;
        font-size: 30px;
      }
    }
  }
}