@import "config/variables";

.session_wrapper {
  width: $fix_width;
  height: 100%;
  margin: 0 auto;
  & h3 {
    text-align: center;
    font-size: $font_size_h3;
  }
  &__header {
    padding: 0 160px;
    .back_link {
      color: #337ab7;
      margin: 16px 48px 12px;
    }
  }
  &__content {
    margin: 0 160px;
  }
}