@import "config/variables";

.home_wrapper {
  text-align: center;

  .btn-home {
    width: 250px;
    height: 60px;
    font-size: 30px;
  }

  p {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.static_pages_wrapper {
  width: $fix_width;
  height: 100%;
  margin: 0 auto;
  & h3 {
    text-align: center;
    font-size: $font_size_h3;
  }
  &__header {
    padding: 0 160px;
    .back_link {
      color: #337ab7;
      margin: 16px 48px 12px;
    }
  }
  &__content {
    margin: 0 160px;

    // 筆者プロフィール
    &__static_pages_profile {
      padding: 0 48px;
      ul {
        height: 300px;
        list-style: none;
        padding-top: 10px;
        display: flex;
        li {
          ul {
            width: 500px;
            display: list-item;
            list-style: none;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 30px;
            margin-left: 30px;
            li {
              font-size: 30px;
              margin-top: 30px;
            }
          }
        }
      }
      .static_pages_detail {
        word-wrap: break-word;
        margin-top: 60px;
        color: #333333;
        font-size: 18px;
      }
    }
  }
}