<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ユーザ登録", signup_path, class: "btn btn-lg btn-primary btn-indent" %></li>
        <li><%= link_to "ログイン", '#', class: "btn btn-lg btn-primary" %></li>
      </ul>
    </nav>
  </div>
</header>